<div class="upload-container">
  <h1>Конвертер MP4 в GIF</h1>

  <div class="upload-panel">
    <label class="file-select">
      <input
        type="file"
        (change)="onFileSelected($event)"
        accept="video/mp4"
        hidden
      />
      Выбрать видео
    </label>
    <button
      class="upload-button"
      (click)="startConversion()"
      [disabled]="loading || !selectedFile"
    >
      Конвертировать в GIF
    </button>
  </div>

  <app-validation [validationMessage]="validationMessage"></app-validation>

  <div *ngIf="selectedFile && videoUrl" class="video-preview">
    <h3>Предпросмотр видео</h3>
    <video [src]="videoUrl" controls></video>
  </div>

  <app-loader [loading]="loading" [countdown]="countdown"></app-loader>

  <app-gif-result
    [gifUrl]="gifUrl"
    [successMessage]="successMessage"
    [errorMessage]="errorMessage"
  ></app-gif-result>
</div>
