.upload-container {
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
  padding: 35px 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  background: linear-gradient(135deg, #f9f9f9, #e6f7ff);
}

.upload-container h1 {
  font-size: 24px;
  color: #333;
}

.upload-panel {
  display: flex;
  gap: 15px;
  width: 100%;
  justify-content: space-around;
}

.file-select {
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  border: 1px solid #2563eb;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.file-select:hover {
  background: linear-gradient(135deg, #2563eb, #3b82f6);
  transform: scale(1.05);
}

.upload-button {
  background: linear-gradient(135deg, #10b981, #059669);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition:
    background-color 0.3s,
    transform 0.2s;
}

.upload-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.full-screen-loader span:last-child {
  font-family: 'Merriweather', serif;
  color: #5148f1;
  font-size: 28px;
}
.upload-button:not(:disabled):hover {
  background: linear-gradient(135deg, #059669, #10b981);
  transform: scale(1.05);
}

.video-preview {
  width: 100%;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.video-preview video {
  width: 100%;
  max-width: 500px;
  max-height: 300px;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .upload-container {
    padding: 15px;
    margin-top: 10px;
  }

  .upload-panel {
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
  }
}
